html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    background-image: url(../img/unryu_background.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}

h1 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Vollkorn', serif;
    font-weight: bold;
}

#container {
    width: 96%;
}
