html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Boilerplate code from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L107-L169 to hide headings that are in place for screen readers */
.visuallyhidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #1f1d25;
    background-image: url(../img/unryu_background.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}

h1 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Vollkorn', serif;
    font-weight: bold;
}

#container {
    width: 96%;
    margin: auto;
    position: relative;
    top: 8rem;
}

header {
    width: 100%;
    height: 7rem;
    background-color: rgba(251, 251, 251, 0.8);
    top: 0;
    padding: 2%;
}

header h1,
header p {
    text-align: right;
    margin: 0;
    font-size: 1rem;
}

header h1 {
    margin-top: 1.8rem;
    margin-bottom: 0.1rem;
}

header p {
    padding-bottom: 3%;
}

#logo-box {
    background-color: #ffffff;
    width: 90%;
    padding: 2%;
}

#logo-box figure {
    display: inline-block;
    vertical-align: top;
}

* figure img {
    width: 100%;
}

#logo-box figure:first-of-type {
    width: 60%;
    margin-left: 0;
    margin-right: 5%;
}

#logo-box figure:first-of-type figcaption {
    width: 160%;
    font-weight: bold;
    font-size: 0.8rem;
}

#logo-box figure:last-of-type {
    width: 24%;
    margin-left: 9%;
    margin-right: 0;
}

.inline {
    display: inline;
}

#images figure img {
    border: 1rem solid #1f1d25;
}

#images figure img:hover {
    border: 1rem solid rgba(31, 29, 37, 0.85);
}

#colors figure {
    display: inline-block;
    width: 47%;
    margin: 0 4% 4% 0;
}

#colors figure:nth-of-type(2n) {
    margin-right: 0;
}

#buttons {
    max-width: 582px;
}

#buttons figure {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    margin: 0 4% 4% 0;
}

#buttons figure:nth-of-type(2n) {
    margin-right: 0;
}

#buttons figure figcaption {
    font-family: 'Vollkorn', serif;
    font-weight: bold;
    color: #f9f1b1;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    margin-top: -25%;
}

#buttons figure#newsletter figcaption {
    margin-top: -31%;
    color: #464646;
}

#buttons figure img {
    filter: drop-shadow();
}

.drop-shadow {
    -webkit-filter: drop-shadow(0 1px 3px rgba(31, 29, 37, 0.5));
    -moz-filter: drop-shadow(0 1px 3px rgba(31, 29, 37, 0.5));
    -ms-filter: drop-shadow(0 1px 3px rgba(31, 29, 37, 0.5));
    -o-filter: drop-shadow(0 1px 3px rgba(31, 29, 37, 0.5));
    filter: drop-shadow(0 1px 3px rgba(31, 29, 37, 0.5));
}
